<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>

        <header>
            <a href="index.html">
                <img src="../img/Logo1.PNG" alt="Logo" class="logo">
            </a>

        </header>

        <form  th:action="@{/logincheck}" method="POST">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

           
                <button type="submit">Iniciar Sesión</button>
           

        </form>
        <div class="extra-info">
            <a href="index.html">Terms</a>
            <a href="index.html">Contact Servix Support</a>
            <a href="index.html">Privacy</a>
        </div>

    </body>
</html>

