<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/usuario_form.css">
   
    </head>
    <body id="main_body" >
	
	<img id="top" src="/img/top.png" alt="">
	<div id="form_container">
	
		<h1><a>Untitled Form</a></h1>
		<form id="form_48915" class="appnitro" enctype="multipart/form-data" method="post" action="">
					<div class="form_description">
			<h2>REGISTRAR USUARIO</h2>
			
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Nombre </label>
		<span>
			<input id="element_1_1" name= "element_1_1" class="element text" maxlength="255" size="8" value=""/>
			
		</span>
		
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Teléfono </label>
		<span>
			<input id="element_2_1" name="element_2_1" class="element text" size="3" maxlength="3" value="" type="text"> -
			
		</span>
		<span>
			<input id="element_2_2" name="element_2_2" class="element text" size="8" maxlength="8" value="" type="text"> 
			
		</span>
		
        </li>		<li id="li_3" >
		<label class="description" for="element_3">Barrio </label>
		
		<div>
			<input id="element_3_1" name="element_3_1" class="element text large" value="" type="text">
			
		</div>
		 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Dirección </label>
		
		<div>
			<input id="element_3_1" name="element_3_1" class="element text large" value="" type="text">
			
		</div>

		
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Cargar Imagen </label>
		<div>
			<input id="element_4" name="element_4" class="element file" type="file"/> 
		</div>  
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="48915" />
			    
				<input id="saveForm" class="button_text" type="submit" name="Submit" value="Aceptar" />
		</li>
			</ul>
		</form>	
		
	</body>
</html>
